body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid rgb(212, 208, 208);
  margin-bottom: 2rem;
  width: 100%;
  background: #fff;
}

.header-inner {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.header:hover {
  border: 1px solid #0290ff;
}

.head {
  display: flex;
  align-items: center;
}

.head h2 {
  color: #0290ff;
  font-size: 2.45rem;
}

.link {
  text-decoration: none;
  margin-bottom: -0.8rem;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.nav span {
  color: #888;
  font-size: 1rem;
  margin: 0 1.2rem;
  text-transform: uppercase;
}

.nav span:hover {
  color: #0d61a1;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(182, 178, 178);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-head {
  color: #0290ff;
  font-size: 1.4rem;
}

.books {
  width: 85%;
  margin: 3rem auto;
  padding: 1rem;
  background: #fafafa;
  box-shadow: 5px 10px #e0dcdc;
}

.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 1px solid rgb(226, 221, 221);
  padding: 1rem;
  background: #fff;
}

.items h3 {
  font-size: 1.2rem;
  color: #888;
  font-weight: 600;
  margin-bottom: 0;
}

.items h2 {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.items p {
  font-size: 1rem;
  color: #0290ff;
  font-weight: 400;
  margin-top: 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  border: none;
  outline: none;
  background: none;
  color: #0290ff;
  font-size: 1rem;
  margin: 0 0.6rem 0 0;
  cursor: pointer;
}

.percent {
  display: flex;
  align-items: center;
}

.hr {
  background: rgb(211, 208, 208);
  width: 1px;
  height: 5rem;
}

.hl {
  background: rgb(211, 208, 208);
  width: 1px;
  height: 1.4rem;
}

.meter {
  font-size: 5rem;
  font-weight: 700;
  color: #0290ff;
  margin-right: 0.3rem;
  border: 1px solid #0290ff;
}

.percent h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentage {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 0.5rem;
}

.completed {
  font-size: 1.2rem;
  color: #888;
}

.form {
  width: 85%;
  margin: 1rem auto;
  padding: 1rem;
  border-top: 1px solid rgb(185, 183, 183);
}

.form h2 {
  color: #888;
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-inputs input {
  width: 38%;
  margin: 0 0.5rem;
  height: 2rem;
  border: 1px solid rgb(202, 198, 198);
  color: black;
  padding: 0.5rem;
  font-size: 0.9rem;
  outline: none;
  background: #fff;
}

.form-inputs button {
  background: #0290ff;
  height: 3rem;
  line-height: 3rem;
  width: 15%;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

::placeholder {
  color: #888;
  font-size: 1rem;
}

.chapter {
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
}

.chapter h4 {
  color: #888;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.chapter h3 {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.chapter button {
  background: #0290ff;
  color: white;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  .header h2 {
    font-size: 0.8rem;
  }

  .nav span {
    font-size: 0.7rem;
    margin: 0 0.5rem;
  }

  .hr {
    display: none;
  }

  .books {
    width: 95%;
    margin: 1rem auto;
  }

  .book-item {
    padding: 0.3rem;
    flex-direction: column;
    justify-content: center;
  }

  .items h3 {
    text-align: center;
    margin-bottom: 0;
  }

  .items h2 {
    text-align: center;
    margin-top: 0;
  }

  .items p {
    text-align: center;
    margin-top: 0;
  }

  .meter {
    font-size: 3rem;
  }

  .percentage {
    font-size: 0.8rem;
  }

  .completed {
    font-size: 0.6rem;
  }

  .form {
    width: 95%;
    padding: 0.5rem;
  }

  .form h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-inputs input {
    width: 80%;
    margin: 0.5rem 0;
  }

  .form-inputs button {
    width: 50%;
    font-size: 1.3rem;
  }

  .chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .circle {
    width: 30px;
    height: 30px;
  }

  .blue-head {
    font-size: 1rem;
  }
}
